<!--The content below is only a placeholder and can be replaced.-->

<!--<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h2>I am from the AppComponent</h2>
          <hr />
          <app-servers></app-servers>

        </div>
    </div>
</div>-->
<div class="row">
  <div class="col-xs-12">
    <ol>
      <li></li>
    </ol>
    <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
    <p *ngIf="showSecret">Secret Password = tuna</p>
    <div
      *ngFor="let logItem of log;let x = index"
      [ngStyle]="{ backgroundColor: x >=5 ? 'blue' : 'transparent'}"
      [ngClass]="{ changeText: x >= 5 }"
    >{{ logItem }}

    </div>
    <p>PssstA</p>
  </div>
</div>

